<!-- Primary Nav -->
<div
  [attr.id]="PRIMARY_NAV_ID"
  (docsClickOutside)="closeMobileNav()"
  [docsClickOutsideIgnore]="[SECONDARY_NAV_ID]"
>
  <!-- Mobile nav bar -->
  <div class="adev-mobile-nav-bar">
    <!-- Logo icon -->
    <button
      type="button"
      class="adev-mobile-nav-button"
      aria-label="Toggle mobile navigation"
      (click)="openMobileNav($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 160 140"
        width="50"
      >
        <g clip-path="url(#2a)">
          <path
            fill="url(#2b)"
            d="M132.999359,23.925879 C139.595154,23.925879 145.691101,23.925879 152.609482,23.925879 C128.372147,66.340637 104.529716,108.064323 80.424995,150.247009 C56.364826,108.139931 32.567783,66.493347 8.244541,23.925879 C50.180454,23.925879 91.339973,23.925879 132.999359,23.925879 M85.500015,46.928516 C73.289886,46.928516 61.079762,46.928516 48.065521,46.928516 C59.094585,66.247772 69.613960,84.674217 80.427811,103.616493 C91.273834,84.609184 101.831940,66.106453 112.775330,46.928516 C103.400276,46.928516 94.950142,46.928516 85.500015,46.928516 z"
          />
          <path
            fill="url(#2c)"
            d="M132.999359,23.925879 C139.595154,23.925879 145.691101,23.925879 152.609482,23.925879 C128.372147,66.340637 104.529716,108.064323 80.424995,150.247009 C56.364826,108.139931 32.567783,66.493347 8.244541,23.925879 C50.180454,23.925879 91.339973,23.925879 132.999359,23.925879 M85.500015,46.928516 C73.289886,46.928516 61.079762,46.928516 48.065521,46.928516 C59.094585,66.247772 69.613960,84.674217 80.427811,103.616493 C91.273834,84.609184 101.831940,66.106453 112.775330,46.928516 C103.400276,46.928516 94.950142,46.928516 85.500015,46.928516 z"
          />
        </g>
        <defs>
          <linearGradient
            id="2b"
            x1="49.009"
            x2="225.829"
            y1="213.75"
            y2="129.722"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#15015a" />
            <stop offset=".24" stop-color="#15015a" />
            <stop offset=".352" stop-color="#58b66d" />
            <stop offset=".494" stop-color="#D5ED1B" />
            <stop offset=".745" stop-color="#ACDB37" />
            <stop offset="1" stop-color="#f2fd9f" />
          </linearGradient>
          <linearGradient
            id="2c"
            x1="41.025"
            x2="156.741"
            y1="28.344"
            y2="160.344"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#58b66d" />
            <stop offset="1" stop-color="#D5ED1B" stop-opacity="0" />
          </linearGradient>
          <clipPath id="2a"><path fill="#fff" d="M0 0h223v236H0z" /></clipPath>
        </defs>
      </svg>
      <docs-icon role="presentation">menu</docs-icon>
    </button>
  </div>

  <nav
    class="adev-nav-primary docs-scroll-hide"
    [class.adev-nav-primary--open]="isMobileNavigationOpened()"
    [class.adev-nav-primary--rc]="currentDocsVersionMode === 'rc'"
    [class.adev-nav-primary--next]="currentDocsVersionMode === 'next'"
    [class.adev-nav-primary--deprecated]="
      currentDocsVersionMode === 'deprecated'
    "
  >
    <button
      type="button"
      class="adev-close-nav"
      (click)="closeMobileNav()"
      aria-label="Close navigation"
    >
      <docs-icon role="presentation">close</docs-icon>
    </button>
    <!-- Top section of primary nav -->
    <ul class="adev-nav__top">
      <!-- Home / Angular logo -->
      <li
        class="adev-nav-item adev-nav-item--logo"
        [class.adev-nav-item--active]="activeRouteItem() === HOME_ROUTE"
      >
        <a aria-label="Angular homepage" routerLink="/">
          <!-- Logo Symbol -->
          <svg
            class="angular-logo"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 160 140"
            width="50"
          >
            <g clip-path="url(#a)">
              <path
                fill="url(#b)"
                d="M132.999359,23.925879 C139.595154,23.925879 145.691101,23.925879 152.609482,23.925879 C128.372147,66.340637 104.529716,108.064323 80.424995,150.247009 C56.364826,108.139931 32.567783,66.493347 8.244541,23.925879 C50.180454,23.925879 91.339973,23.925879 132.999359,23.925879 M85.500015,46.928516 C73.289886,46.928516 61.079762,46.928516 48.065521,46.928516 C59.094585,66.247772 69.613960,84.674217 80.427811,103.616493 C91.273834,84.609184 101.831940,66.106453 112.775330,46.928516 C103.400276,46.928516 94.950142,46.928516 85.500015,46.928516 z"
              />
              <path
                fill="url(#c)"
                d="M132.999359,23.925879 C139.595154,23.925879 145.691101,23.925879 152.609482,23.925879 C128.372147,66.340637 104.529716,108.064323 80.424995,150.247009 C56.364826,108.139931 32.567783,66.493347 8.244541,23.925879 C50.180454,23.925879 91.339973,23.925879 132.999359,23.925879 M85.500015,46.928516 C73.289886,46.928516 61.079762,46.928516 48.065521,46.928516 C59.094585,66.247772 69.613960,84.674217 80.427811,103.616493 C91.273834,84.609184 101.831940,66.106453 112.775330,46.928516 C103.400276,46.928516 94.950142,46.928516 85.500015,46.928516 z"
              />
            </g>
            <defs>
              <linearGradient
                id="b"
                x1="49.009"
                x2="225.829"
                y1="213.75"
                y2="129.722"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#15015a" />
                <stop offset=".24" stop-color="#15015a" />
                <stop offset=".352" stop-color="#58b66d" />
                <stop offset=".494" stop-color="#D5ED1B" />
                <stop offset=".745" stop-color="#ACDB37" />
                <stop offset="1" stop-color="#f2fd9f" />
              </linearGradient>
              <linearGradient
                id="c"
                x1="41.025"
                x2="156.741"
                y1="28.344"
                y2="160.344"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#58b66d" />
                <stop offset="1" stop-color="#D5ED1B" stop-opacity="0" />
              </linearGradient>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h223v236H0z" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
    </ul>

    <!-- Bottom section of primary nav -->
    <div class="adev-nav__bottom">
      <!-- Social Icons Dots -->

      <!-- TODO: Refactor this and make it better. Accessible, animated, etc. -->
      <div
        class="adev-nav-item"
        [class.adev-nav-item--active]="openedMenu === 'theme-picker'"
      >
        <button
          type="button"
          [cdkMenuTriggerFor]="themeMiniMenu"
          [cdkMenuPosition]="miniMenuPositions"
          aria-label="Open theme picker"
          (cdkMenuClosed)="closeMenu()"
          (cdkMenuOpened)="openMenu('theme-picker')"
        >
          <docs-icon role="presentation">
            @switch (theme()) { @case ('light') {
            {{ "light_mode" }}
            } @case ('dark') {
            {{ "dark_mode" }}
            } @case ('auto') {
            {{ "routine" }}
            } }
          </docs-icon>
        </button>

        <ng-template #themeMiniMenu>
          <ul class="adev-mini-menu" cdkMenu>
            <li>
              <button
                type="button"
                cdkMenuItem
                (click)="setTheme('auto')"
                aria-label="Set default system theme"
              >
                <docs-icon class="docs-icon_high-contrast">routine</docs-icon>
                <span>System</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                cdkMenuItem
                (click)="setTheme('dark')"
                aria-label="Set dark theme"
              >
                <docs-icon class="docs-icon_high-contrast">dark_mode</docs-icon>
                <span>Dark</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                cdkMenuItem
                (click)="setTheme('light')"
                aria-label="Set light theme"
              >
                <docs-icon class="docs-icon_high-contrast"
                  >light_mode</docs-icon
                >
                <span>Light</span>
              </button>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
