.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
    img {
        margin-right: .5rem;
        height: 20px;
        border-radius: 50%;
    }
    span {
        margin-left: .5rem;
        font-weight: 500;
    }
}
