<div class="post-head">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12">
        <div class="image-box">
          <img
            class="post-image lazy loaded"
            alt="Witajcie w świecie finansów, gdzie liczby rządzą, a emocje kosztują!"
            src="assets/layout/images/finance_ai.png"
          />
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="post-head__box">
          <h2 class="post__title">
            Witajcie w świecie finansów, gdzie liczby rządzą, a emocje kosztują!
            💰📈
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <article class="post">
    <div class="post__content">
      <p>
        Nie wiem, jak to się stało, ale oto jestem - rozpoczynam nową przygodę z
        blogiem o finansach. Może to wpływ rosnących stóp procentowych 📊, a
        może to po prostu moja niezdrowa fascynacja wykresami 📉, które
        wyglądają jak emocjonalny rollercoaster inwestorów. Tak czy inaczej, od
        dziś będę dzielił się z Wami przemyśleniami o rynkach, inwestycjach i
        wszystkim, co pachnie ekonomią (a to nie zawsze ładnie pachnie 😅).
      </p>
      <h3>🧐 Czego możecie się spodziewać?</h3>
      <ol>
        <li>
          📅 Regularnych wpisów o finansach, inwestowaniu i gospodarce. Postaram
          się, żeby było ciekawie, merytorycznie, a czasem nawet zabawnie - tak,
          to możliwe w świecie liczb!
        </li>
        <li>
          📢 Cotygodniowy newsletter o nadchodzących wydarzeniach giełdowych,
          abyście zawsze byli na bieżąco! Dodatkowo podsumowania giełdowych
          wydarzeń, w którym postaram się wytłumaczyć, dlaczego indeksy poszły w
          górę, w dół albo po prostu oszalały.
        </li>
        <li>
          💡 Ciekawostek, analiz i spostrzeżeń, które pomogą Wam lepiej
          zrozumieć świat pieniędzy (i jak sprawić, żeby Wasze portfele były
          trochę grubsze 💵).
        </li>
      </ol>
      <p>
        Czy będziemy się dobrze bawić? Na pewno! 🚀 Zapraszam do śledzenia bloga
        na Medium:
      </p>
      <h3>
        <a
          href="https://github.com/jankomisarczyk/task-flows.com"
          target="_blank"
          >https://github.com/jankomisarczyk/task-flows.com</a
        >
      </h3>
      <blockquote>
        <p>
          Ten jest bogaczem, który tyle posiada, że niczego więcej nie pożąda.
        </p>
        <p><cite>Cyceron</cite></p>
      </blockquote>
    </div>
  </article>
</div>
