<div class="timeline">
  <div class="timeline-item left">
    <img
      src="assets/layout/images/muscle-up.png"
      alt="muscle-up"
      class="icon-img"
    />
    <div class="text-box">
      <h2>8 Muscle-Ups</h2>
      <small>April 2024</small>
      <p>
        The best exercise to improve your muscle-ups is weighted pull-ups. After
        just one month of training with an additional 10 kg, I was able to
        achieve my first muscle-up.
      </p>
      <div style="position: relative; width: 100%; padding-top: 50%">
        <iframe
          src="https://www.youtube.com/embed/FTevU9XJl20"
          frameborder="0"
          allowfullscreen=""
          style="
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
          "
        ></iframe>
      </div>
      <span class="left-arrow"></span>
    </div>
  </div>
  <div class="timeline-item right">
    <img
      src="assets/layout/images/planche.png"
      alt="planche"
      class="icon-img"
    />
    <div class="text-box">
      <h2>Planche (not yet there)</h2>
      <small>May 2024</small>
      <p>
        Work in progress, but I need to improve my strength in the tuck planche
        position first to progress further.
      </p>
      <div style="position: relative; width: 100%; padding-top: 50%">
        <iframe
          src="https://www.youtube.com/embed/JTH5Gzhyj-4"
          frameborder="0"
          allowfullscreen=""
          style="
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
          "
        ></iframe>
      </div>
      <span class="right-arrow"></span>
    </div>
  </div>
  <div class="timeline-item left">
    <img
      src="assets/layout/images/no-gym.png"
      alt="broken neck"
      class="icon-img"
    />
    <div class="text-box">
      <h2>Broken Neck</h2>
      <small>July 2024</small>
      <p>
        After a failed attempt to do a double backflip, I broke my neck. Be
        carefull not to repeat my mistake. I needed to take a break from sports
        but I will be back soon.
      </p>
      <div class="image-neck">
        <img src="assets/layout/images/broken-neck.jpg" />
      </div>
      <span class="left-arrow"></span>
    </div>
  </div>
</div>
