<div class="post-head">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12">
        <div class="image-box">
          <img
            class="post-image lazy loaded"
            alt="Playlista na każdą okazję!"
            src="assets/layout/images/soundcloud-logo-white.jpg"
          />
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="post-head__box">
          <h2 class="post__title">🎶 Playlista na każdą okazję!</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <article class="post">
    <div class="post__content">
      <p>
        Załączam link dla wszystkich zainteresowanych muzyką, którą aktualnie
        słucham i która towarzyszy mi na co dzień.
      </p>
      <h3>
        <a href="https://soundcloud.com/user-956880460/likes" target="_blank"
          >https://soundcloud.com/user-956880460/likes</a
        >
      </h3>
      <p>
        <img
          src="assets/layout/images/soundcloud.png"
          alt="Soundcloud"
          class="lightense-target"
        />
      </p>
      <blockquote>
        <p>Nie ma złej muzyki</p>
        <p><cite>bo taka prawda</cite></p>
      </blockquote>
    </div>
  </article>
</div>
