
<div class="container">
    <section id="IKIGAI">
        <div class="background" [@videoAnimation]="state">
            <video autoplay="true" muted="true" loop="true" >
                <source src="ocean.mp4"/>
            </video>
            <div class="ikigai" >
                <img [@logoAnimation]="state2" src="assets/layout/images/ikigai.png">
            </div>
            <div class="ikigai-japanese" >
                <img [@japaneseAnimation]="state3" src="assets/layout/images/japanese-ikigai.png">
            </div>
        </div>

    </section>
    <section id="second">
        <article class="Venn">
            <h2>Stock Model</h2>
            <div class="circle one">
              <span></span>
              <span></span>
              <h3>One</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis
                ligula, a vulputate nibh porttitor eu. Morbi tempus dolor sed lectus gravida, id convallis ipsum convallis. Cras nec pharetra est, nec finibus lectus. Donec pulvinar ipsum arcu, sit amet pulvinar augue luctus quis.
              </p>
            </div>
            <div class="circle two">
              <span></span>
              <span></span>
              <h3>Two</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis
                ligula, a vulputate nibh porttitor eu. Morbi tempus dolor sed lectus gravida, id convallis ipsum convallis. Cras nec pharetra est, nec finibus lectus. Donec pulvinar ipsum arcu, sit amet pulvinar augue luctus quis.
              </p>
            </div>
            <div class="circle three">
              <span></span>
              <span></span>
              <h3>Three</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis
                ligula, a vulputate nibh porttitor eu. Morbi tempus dolor sed lectus gravida, id convallis ipsum convallis. Cras nec pharetra est, nec finibus lectus. Donec pulvinar ipsum arcu, sit amet pulvinar augue luctus quis.
              </p>
            </div>
            <div class="shape onetwo">
              <span></span>
              <span></span>
              <h3>One + Two</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis
                ligula, a vulputate nibh porttitor eu. Morbi tempus dolor sed lectus gravida, id convallis ipsum convallis. Cras nec pharetra est, nec finibus lectus. Donec pulvinar ipsum arcu, sit amet pulvinar augue luctus quis.
              </p>
            </div>
            <div class="shape onethree">
              <span></span>
              <span></span>
              <h3>One + Three</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis.
              </p>
            </div>
            <div class="shape twothree">
              <span></span>
              <span></span>
              <h3>Two + Three</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis.
              </p>
            </div>
            <div class="shape onetwothree">
              <span></span>
              <span></span>
              <h3>One + Two + Three</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis magna erat, eget condimentum metus faucibus eget. Sed venenatis sem dui, quis faucibus nibh pretium a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada mattis.
              </p>
            </div>
          </article>
    </section>
</div>
