<div class="post-head">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12">
        <div class="image-box">
          <img
            class="post-image lazy loaded"
            alt="Filozofia na co dzień - Stoicyzm w praktyce"
            src="assets/layout/images/galaxy.jpg"
          />
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="post-head__box">
          <h2 class="post__title">
            📜 Filozofia na co dzień - Stoicyzm w praktyce
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <article class="post">
    <div class="post__content">
      <p>
        Czy można żyć spokojniej w świecie pełnym chaosu? Jak radzić sobie z
        przeciwnościami losu? Stoicyzm od wieków daje na to odpowiedzi, a ja
        zamierzam je odkrywać i dzielić się nimi tutaj. Marek Aureliusz, Seneka,
        Epiktet, Cyceron - ich idee przetrwały wieki, bo dotyczą nas wszystkich.
      </p>
      <p>
        Jeśli chcesz spojrzeć na świat przez stoicki pryzmat - zapraszam do
        wspólnej refleksji! 🏛️💭
      </p>
      <blockquote>
        <p>
          Niech każda rzecz, jaką robisz, mówisz lub zamierzasz, będzie taka,
          jakby twe życie się kończyło.
        </p>
        <p><cite>Marek Aureliusz</cite></p>
      </blockquote>
    </div>
  </article>
</div>
